<title>Chatbot</title>
<link rel="stylesheet" href="/static/style.css">
<body>
    <div class="navbar">
        <a href="/">Home</a>
        {% if username %}
        <a href="/assistant">Assistant</a>
        <a href="/topup">Topup</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
    </div>

    <h1>Welcome to Chatbot Website 17</h1>
    <p>Website design peaked in like 1999. It's been all downhill from there.</p>
    {% if username %}
    <p>You are logged in as <strong style="color:green">{{username}}</strong></p>
    {% if admin %}
    <a href="/adm1n">Admin Panel here</a>
    {% endif %}
    {% endif %}
</body>