<title>Register</title>
<link rel="stylesheet" href="/static/style.css">
<body>
    <div class="navbar">
        <a href="/">Home</a>
    </div>
    <h1>Registration Page</h1>
    <form action="/register" method="post">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="email">Email (optional)</label><br>
        <input type="text" id = "email" name = "email"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="password2">Repeat Password</label><br>
        <input type="password" id="password2" name="password2"><br>
        {% if error %}
        <p style="color: red">{{error}}</p>
        {% endif %}
        <input type="submit" id="registersubmit" value="Register">
    </form>
    <p>Already registered?</p>
    <a href="/login" method="get">Go to the login page.</a>
</body>